<%= search_form_for q, :url => menus_path, :html => {:method => :get, :class => "well form-inline form-search"}  do |f| %>
    <div class='form-group prb30'>
      <%= f.label :name%>
      <%= f.text_field :name_cont, class: "form-control" %>
    </div>
    <div class='form-group prb30'>
      <%= f.label :url%>
      <%= f.text_field :url_cont, class: "form-control" %>
    </div>
    <div class='form-group prb30'>
      <%= f.label :parent_id%>
      <%= f.text_field :parent_id_cont, class: "form-control" %>
    </div>
    <div class='form-group prb30'>
      <%= f.label :usable%>
      <%= f.text_field :usable_cont, class: "form-control" %>
    </div>
    <div class='form-group prb30'>
      <%= f.label :description%>
      <%= f.text_field :description_cont, class: "form-control" %>
    </div>

  <div class='form-group prb30'>
    <%= render "/core/shared/search_bottom", :f => f %>
    <%= link_to "导出", export_path(object_class: "Core::EntScale", back: request.fullpath, q: params[:q].try(:permit!)), class: "ml8 btn btn-info"%>
  </div>
<% end %>


