<% options ||= {}%>
<% objects =  instance_variable_get("@#{controller_name}")%>

<!-- 查询页面 -->
<div class="portlet-title"><%= render "#{controller_name}/search", q: @q%></div>
<!-- 查询页面 END -->


<div class="tpl-block">

  <!-- 操作列表，如：新增（new） -->
  <div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
      <div class="am-btn-toolbar">
        <div class="am-btn-group am-btn-group-xs">
          <% operations_list(options).each do |operation|%>
            <%= link_to operation[:link_url], class: "am-btn am-btn-default am-btn-success" do %>
              <span class=""> <%= operation[:link_name] %></span>
            <% end -%>
          <% end%>
        </div>
      </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
      <div class="am-form-group"></div>
    </div>
    <div class="am-u-sm-12 am-u-md-3"></div>
  </div>
  <!-- 操作列表，如：新增（new）END -->

  <!-- Table -->
  <div class="am-g">
    <div class="am-u-sm-12">
      <table class="am-table am-table-striped am-table-hover table-main">
        <thead>
          <tr>
            <td><%= t("table_title.index")%></td>

            <!-- 表头 -->
            <% @table_columns.each do |title| %>
              <td class="table-title"><%= table_title_label(title)%></td>
            <% end -%>
            <!-- 表头 END -->

            <td><%= t("table_title.opts")%></td>
          </tr>
        </thead>
        <tbody>
          <% objects.each_with_index do |object, index|%>
            <tr>
              <td><%= index + 1%></td>

              <!-- 列表 -->
              <% @table_columns.each do |column|%>
                <td><%= object.send(column)%></td>
              <% end -%>
              <!-- 列表 END -->

              <!-- 操作按钮 -->
              <td>
                <div class="am-btn-toolbar ">
                  <div class="am-btn-group am-btn-group-xs">
                    <% operations_column(object, options).each do |operation|%>
                      <%= link_to operation[:link_url], class: "am-btn am-btn-default am-btn-xs am-text-secondary", method: operation[:method] do %>
                        <span class=""> <%= operation[:link_name]%></span>
                      <% end -%>
                    <% end -%>
                  </div>
                </div>
              </td>
              <!-- 操作按钮 END -->

            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Table end -->

</div>
<div class="tpl-alert"></div>

<%= paginate objects%>


