<div class="portlet-title">
  <div class="caption font-green bold">
    <span class="am-icon-code">menu</span>
  </div>
  <div class="tpl-portlet-input tpl-fz-ml">
    <div class="portlet-input input-small input-inline">
      <div class="input-icon right">
        <i class="am-icon-search"></i>
        <input type="text" class="form-control form-control-solid" name="">
      </div>
    </div>
  </div>
</div>

<div class="tpl-block">
  <div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
      <div class="am-btn-toolbar">
        <div class="am-btn-group am-btn-group-xs">
          <%= link_to new_background_menu_path, class: "am-btn am-btn-default am-btn-success" do %>
            <span class="am-icon-plus"> 新增</span>
          <% end -%>
        </div>
      </div>
    </div>

    <div class="am-u-sm-12 am-u-md-3">
      <div class="am-form-group"></div>
    </div>

    <div class="am-u-sm-12 am-u-md-3"></div>
  </div>


  <div class="am-g">
    <div class="am-u-sm-12">
      <table class="am-table am-table-striped am-table-hover table-main">
        <thead>
          <tr>
            <td class="table-title">index</td>
            <td class="table-title">id</td>
            <td class="table-title">name</td>
            <td class="table-title">show</td>
            <td class="table-title">order_num</td>
            <td class="table-title">opts</td>
          </tr>
        </thead>
        <tbody>
          <% @menus.each_with_index do |menu, index|%>
            <tr>
              <td><%= index + 1%></td>
              <td><%= menu.id%></td>
              <td><%= menu.name%></td>
              <td><%= menu.show%></td>
              <td><%= menu.order_num%></td>
              <td>
                <div class="am-btn-toolbar ">
                  <div class="am-btn-group am-btn-group-xs">
                    <%= link_to edit_background_menu_path(menu), class: "am-btn am-btn-default am-btn-xs am-text-secondary" do %>
                      <span class="am-icon-pencil-square-o "> 编辑</span>
                    <% end -%>
                    <%= link_to background_menu_path(menu), class: "am-btn am-btn-default am-btn-xs am-hide-sm-only" do %>
                      <span class="am-icon-pencil-square-o "> 查看</span>
                    <% end -%>
                    <%= link_to background_menu_path(menu), class: "am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" do %>
                      <span class="am-icon-trash-o"> 删除</span>
                    <% end -%>
                  </div>
                </div>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="tpl-alert"></div>



